;
;
; Legends of Future Past Configuration file 9/23/96
;
STARTROOM 3950
BUMPROOM 201
;
SCRIPT ROOMX.SCR
SCRIPT ROOMY.SCR
SCRIPT ANTI.SCR
SCRIPT VARIABLE.SCR
SCRIPT ADJNOUN.SCR
SCRIPT REGIONS.SCR
SCRIPT MONSTERS.SCR
SCRIPT ITEM1.SCR
SCRIPT ITEM2.SCR
SCRIPT ITEM3.SCR
SCRIPT ITEM4.SCR
SCRIPT ITEMSPEC.SCR
SCRIPT ITEM6.SCR
;
SCRIPT ITEMPET.SCR
SCRIPT ITEMARM.SCR
SCRIPT ITEMWEAP.SCR
SCRIPT ITEMNWPN.SCR
SCRIPT ITEMFOOD.SCR
;
SCRIPT FTOWER.SCR
SCRIPT INDOOR.SCR
SCRIPT OUTDOOR.SCR
; SCRIPT INCITY.SCR
SCRIPT FAYDINDR.SCR
SCRIPT PALACE.SCR
SCRIPT FULPALAC.SCR
SCRIPT DEEP1.SCR
SCRIPT DEEP2.SCR
SCRIPT DEEP3.SCR
SCRIPT DWASTE.SCR
SCRIPT WASTE2.SCR
SCRIPT KEEP.SCR
SCRIPT SKYMAP.SCR
SCRIPT RIDDLE.SCR
SCRIPT MALL.SCR
SCRIPT CLOUD.SCR
SCRIPT ASTRAL.SCR
SCRIPT IDEMMUAG.SCR
SCRIPT SALICAE.SCR
SCRIPT ICE.SCR
SCRIPT EVILFAYD.SCR
SCRIPT RUINED.SCR
SCRIPT TYTEMP.SCR
SCRIPT ISLAND.SCR
SCRIPT HAVEN.SCR
SCRIPT HIVERING.SCR
SCRIPT BLAKTOWR.SCR
; SCRIPT CHAM.SCR
SCRIPT CEVENTS.SCR
;
; Main Seasonals
;
ASCRIPT AUTOUT.SCR
WSCRIPT WINOUT.SCR
WSCRIPT WINMON.SCR
SSCRIPT SUMOUT.SCR
PSCRIPT SPRIOUT.SCR
;
; Seasonal areas
;
SSCRIPT BLKTHORN.SCR
SSCRIPT MONAST.SCR
;
; Foothills
;
ASCRIPT FTHILLFA.SCR
SSCRIPT FTHILLSU.SCR
PSCRIPT FTHILLSP.SCR
WSCRIPT FTHILLWI.SCR
;
; Seasonal Cevents
;
SSCRIPT CVENTSUM.SCR
ASCRIPT CVENTAUT.SCR
PSCRIPT CVENTSPR.SCR
WSCRIPT CVENTWIN.SCR
;
; newbie/racial areas
; 
SCRIPT HIGHLAND.SCR
SCRIPT EPH.SCR
SCRIPT NEWBIE2.SCR
SCRIPT DRAKIN.SCR
SSCRIPT CHLRSUM.SCR
WSCRIPT CHLRWIN.SCR
ASCRIPT CHLRFALL.SCR
PSCRIPT CHLRSPRI.SCR
;
; Guild areas
;
SCRIPT THIEF.SCR
SCRIPT YARIN.SCR
SCRIPT RAKE.SCR
SCRIPT LAWKEEP.SCR
SCRIPT BAND.SCR
SCRIPT TKASTA.SCR
SCRIPT RORIN.SCR
SCRIPT FORESTER.SCR
SCRIPT AMILOR.SCR
;SCRIPT WAY.SCR
SCRIPT THUNCHLD.SCR
SCRIPT ELIDITUR.SCR
SCRIPT WOLFHOME.SCR
SCRIPT TIEWAZ.SCR
;
; Guild Seasonals
;
SSCRIPT WHOMESUM.SCR
WSCRIPT WHOMEWIN.SCR
ASCRIPT WHOMEAUT.SCR
PSCRIPT WHOMESPR.SCR
SSCRIPT TIEWAZSU.SCR
WSCRIPT TIEWAZWI.SCR
ASCRIPT TIEWAZFA.SCR
PSCRIPT TIEWAZSP.SCR
;
; SCRIPT PQRS.SCR
SCRIPT SALOON.SCR
SCRIPT STEEL.SCR
SCRIPT CHEVAL.SCR
SCRIPT HAWK.SCR
SCRIPT ALLEYS.SCR
;
SCRIPT PLAYER.SCR
;
; Caldis
;
SCRIPT CALDIS.SCR
SCRIPT CALMAC.SCR
SCRIPT CALDEF.SCR
;
SCRIPT BACCA.SC9
SCRIPT CRICKET.SCR
;
SCRIPT KLOAK.SC9
SCRIPT KAHLUA.SC9
SCRIPT KKLUNK.SC9
SCRIPT RYO-OHKI.SCR
SCRIPT NROSS.SC9
;
SCRIPT EDDIE1.SCR
SCRIPT EDDIE3.SCR
SCRIPT EDDIE4.SCR
SCRIPT AMER.SC1
SCRIPT AMER.SC2
;
SCRIPT CLANGTON.SCR
SCRIPT CLANGTON.SC1
SCRIPT JABBER.SCR
;
SCRIPT SMALSHEM.SCR
SCRIPT DRUID.SCR
SCRIPT DRUID.SC1
SCRIPT DRUID.SC2
SCRIPT PATOFF.SCR
;
SCRIPT KMATTERL.SCR
; SCRIPT UNICORN.SCR
SCRIPT SHANTA.SCR
SCRIPT FULLMENE.SCR
; SCRIPT SCHOOL.SCR
;
SCRIPT KARTHEM.SCR
;
SCRIPT GYPSY.SC8
SCRIPT JUJUBEE.SC1
;
SCRIPT KREETEK.SCR
SCRIPT ADDAMS.SCR
SCRIPT BONKER.SCR
SCRIPT KREE.SCR
;
SCRIPT CHASSO.SCR
;
SCRIPT SHADOWS.SC4
SCRIPT SHADOWS.SC5
;
SCRIPT ARCANA.SCR
SCRIPT MUKWA.SCR
SCRIPT DEJOBAAN.SC1
;
SCRIPT HERBIE.SCR
SCRIPT MIKETEMP.SCR
SCRIPT PELLA.SCR
SCRIPT JEZRAEL.SCR
SCRIPT BARUK.SCR
SCRIPT LYNKEEP2.SCR
SCRIPT JEZRAEL.SC1
SCRIPT ICEDRAKE.SC1
SCRIPT ICEDRAKE.SC2
;
SCRIPT ENFORCER.SCR
SCRIPT ADMIN2.SCR
SCRIPT PEEWEE.SCR
SCRIPT DNAB2.SCR
SCRIPT DNAB1.SCR
;
; SCRIPT HOIBIE.SCR
;
SCRIPT SYSOP.SCR
SCRIPT CRESCENT.SCR
SCRIPT ATPAY.SC9
SCRIPT KKLUNK.SC7
SCRIPT KKLUNK.SC8
SCRIPT DRUID.SC9
SCRIPT FAYD.SCR
SCRIPT NEWS.SCR
;
; Faydian Seasonals
;
ASCRIPT FAYDFALL.SCR
SSCRIPT FAYDSUM.SCR
WSCRIPT FAYDWIN.SCR
PSCRIPT FAYDSPRI.SCR
;
SCRIPT NOWAY.SCR
;
SCRIPT AMER.SC3
;
; Fayd Evolution Scripts
;
SCRIPT GPAYE2.SCR
SCRIPT GPAYE2.SC1
;
SCRIPT LAST.SCR
;
;
; -------------------------------------------------------------------------------------
; Scripts below this were NOT part of the original game from the 1990's. These scripts
; fix behaviors observed in the game
; -------------------------------------------------------------------------------------
SCRIPT modern_fixes.scr
